<ion-header>
    <ion-navbar>
        <ion-item>
            <ion-avatar item-left>
                <img src="assets/uploads/icons/user.png"/>
            </ion-avatar>

            <h2>Information</h2>
        </ion-item>
    </ion-navbar>
</ion-header>

<ion-content>
        <div>
            <ion-slides pager *ngIf = "photo" loop effect = 'cube'>
                <ion-slide *ngFor = "let item of photo">
                    <img [src] = "item"/>
                </ion-slide>
            </ion-slides>
        </div>
        
        <ion-card-content>
            <ion-card-title>
                <ion-item>
                    <h1>{{ member.name }}</h1>  
                    <a item-right href="tel:{{ member.tel }}" ><ion-icon ios="ios-call" md="md-call" item-left style="color: #d03e84"></ion-icon></a>
                    <a item-right href="sms:{{ member.tel }}" ><ion-icon ios="ios-mail" md="md-mail" style="color: #d03e84"></ion-icon></a> 
                </ion-item>
            </ion-card-title>
            <p>
                {{ member.about_yourself }}
            </p>
        </ion-card-content>
    
    
    <ion-item>
        <ion-icon ios="ios-call" md="md-call" item-left style="color: #d03e84"></ion-icon>
        Tel
        <p item-right style="font-weight: bold">{{ member.tel }}</p>
    </ion-item>

    <ion-item>
        <ion-icon ios="ios-contacts" md="md-contacts" item-left style="color: #d03e84"></ion-icon>
        Job
        <p item-right style="font-weight: bold">{{ member.job }}</p>
    </ion-item>

    <ion-item>
        <ion-icon ios="ios-book" md="md-book" item-left style="color: #d03e84"></ion-icon>
        Educational level
        <p item-right style="font-weight: bold">{{ member.educational_level }}</p>
    </ion-item>

    <ion-item>
        <ion-icon ios="ios-heart" md="md-heart" item-left style="color: #d03e84"></ion-icon>
        Personalities
        <p item-right style="font-weight: bold">{{ member.personalities }}</p>
    </ion-item>
    
    
</ion-content>