<ion-header>
  <ion-navbar no-border-bottom>
    <ion-item>
        <h2>Edit profile</h2>
        <button ion-button icon-left item-right [disabled] = '!userForm.valid' form = 'ngForm3'>
            <ion-icon ios="ios-cloud-upload-outline" md="md-cloud-upload"></ion-icon>
            Save profile
        </button>
    </ion-item>  
      
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="profile">
      <ion-segment-button value="information">
        Information
      </ion-segment-button>
      <ion-segment-button value="gallery">
        Gallery
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div [ngSwitch]="profile">
        <ion-list *ngSwitchCase="'information'">
            <form [formGroup] = "userForm" (ngSubmit) = "EditProfile(userForm.value)" id="ngForm3">
                <ion-list>
                    <ion-item>
                        <ion-label style="font-weight: bold">Name</ion-label>
                        <ion-input type="text" formControlName="name" [(ngModel)] = "member.name" placeholder="Name"></ion-input>
                    </ion-item>
                    <ion-item *ngIf = "!name.valid && ( name.dirty || name.touched )" class = "error-box">
                        Name is required
                </ion-item>

                <ion-item>
                    <ion-label style="font-weight: bold">Email</ion-label>
                    <ion-input type="email" formControlName = "email" [(ngModel)] = "member.email" placeholder="Email"></ion-input>
                </ion-item>
                <ion-item class="error-box" *ngIf = "!email.valid && ( email.dirty || email.touched )">
                          <p *ngIf = "email.hasError('required')" style="color: #a94442;"> Email is required</p>
                    <p *ngIf = "email.hasError('email')" style="color: #a94442;"> Email you type is not email (ex : g@gmail.com, y@yahoo.com ...)</p>
                </ion-item>

                <ion-item>
                    <ion-label style="font-weight: bold">Address</ion-label>
                    <ion-input id="editaddress" type="text" placeholder="Enter a location" formControlName = 'address' [(ngModel)] = "member.address"></ion-input>
                </ion-item>
                <ion-item class="error-box" *ngIf = "!address.valid && ( address.dirty || address.touched )">
                          <p *ngIf = "address.hasError('required')" style="color: #a94442;"> Address is required</p>
                </ion-item>    
                    

                <ion-item>
                    <ion-label style="font-weight: bold">Gender</ion-label>
                    <ion-select formControlName = "gender" [(ngModel)] = "member.gender">
                        <ion-option value="male">Male</ion-option>
                        <ion-option value="female">Female</ion-option>
                    </ion-select>
                </ion-item>
                <ion-item class="error-box" *ngIf = "!gender.valid && ( gender.dirty || gender.touched )">
                          Gender is required
                </ion-item>

                <ion-item>
                    <ion-label style="font-weight: bold">Tel</ion-label>
                    <ion-input type="text" placeholder="Telephone number" formControlName = "tel" [(ngModel)] = "member.tel"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label style="font-weight: bold">Birthday</ion-label>
                    <ion-datetime displayFormat = "DD MMM, YYYY" formControlName = "birthday" [(ngModel)] = "member.birthday || date"></ion-datetime>
                </ion-item>

                <ion-item>
                    <ion-label style="font-weight: bold">Job</ion-label>
                    <ion-select formControlName = "job" [(ngModel)] = "member.job">
                        <ion-option value="it">IT</ion-option>
                        <ion-option value="accountant">Accountant</ion-option>
                        <ion-option value="teacher">Teacher</ion-option>
                        <ion-option value="doctor">Doctor</ion-option>
                        <ion-option value="engineer">Engineer</ion-option>
                    </ion-select>
                </ion-item>

                <ion-item>
                    <ion-label style="font-weight: bold">Education level</ion-label>
                    <ion-select formControlName = "educational_level" [(ngModel)] = "member.educational_level">
                        <ion-option value="bachelor">Bachelor</ion-option>
                        <ion-option value="master">Master</ion-option>
                        <ion-option value="doctor">Doctor</ion-option>
                    </ion-select>
                </ion-item>

                <ion-item>
                    <ion-label style="font-weight: bold">Personalities</ion-label>
                    <ion-select formControlName = "personalities" [(ngModel)] = "member.personalities">
                        <ion-option value="lovely">Lovely</ion-option>
                        <ion-option value="strong">Strong</ion-option>
                    </ion-select>
                </ion-item>

                <ion-item>
                    <ion-label style="font-weight: bold">About Yourself</ion-label>
                    <ion-textarea type="text" formControlName = "about_yourself" [(ngModel)] = "member.about_yourself" placeholder="Introduce something about yourself" rows="5"></ion-textarea>
                </ion-item>

            </ion-list>
        </form>
        </ion-list>

        <ion-list *ngSwitchCase="'gallery'">
            <ion-grid>
                <ion-row>
                    <ion-col col-12 id="avatar">
                        <img style="height: 200px !important;" [src] = "photo.avatar" (click) = "takeToLibrary('avatar')"/>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-4>
                        <img style="height: 100px !important; width: 100px !important" [src] = 'photo.image1' (click) = "takeToLibrary('image1')"/>
                    </ion-col>
                    <ion-col col-4>
                        <img style="height: 100px !important; width: 100px !important" [src] = 'photo.image2' (click) = "takeToLibrary('image2')"/>
                    </ion-col>
                    <ion-col col-4>
                        <img style="height: 100px !important; width: 100px !important" [src] = 'photo.image3' (click) = "takeToLibrary('image3')"/>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-4>
                        <img style="height: 100px !important; width: 100px !important" [src] = 'photo.image4' (click) = "takeToLibrary('image4')"/>
                    </ion-col>
                    <ion-col col-4>
                        <img style="height: 100px !important; width: 100px !important" [src] = 'photo.image5' (click) = "takeToLibrary('image5')"/>
                    </ion-col>
                    <ion-col col-4>
                        <img style="height: 100px !important; width: 100px !important" [src] = 'photo.image6' (click) = "takeToLibrary('image6')"/>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-list>
    </div>
</ion-content>