.ios, .md {
    page-edit-profile {
        .error-box {
            color: #a94442;
            background-color: #f2dede;
            border-color: #ebccd1;
            border: 1px solid transparent;
            border-radius: 4px;
            margin-left : 15px;
            width : 95%;
        }
    }
}